/************** GENERAL ***************/
/**************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.clearfix {
    content: "";
    clear: both;
    display: table;
}

h2 {
    color: #eeebeb;
    font-size: 150%;
    font-weight: 500;
}

hr { margin-bottom: 25px; }

input:focus,
button:focus { outline: none; }

/************** JOIN FORM **************/
/***************************************/
.join-form {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(125deg, #3a2c5a, #887ca1);
}

.center-content {
    background-color: #e2e2e2;
    box-shadow: 0 2px 2px #888888;
    border-radius: 5px;
    height: 300px;
    width: 250px;
    margin: auto;
    transform: translateY(60%);
    padding: 10px;
}

.form-field { padding: 10px; }

.form-field h3 {
    font-size: 140%;
    font-weight: 600;
    color: #000;
    text-align: center;
}

.form-field input {
    margin-top: 8px;
    padding: 5px;
    width: 210px;
    height: 30px;
    border: 1px solid #585252;
    border-radius: 5px; 
    color: #2e2346;
}

.form-field button,
.video-call {
    width: 210px;
    height: 35px;
    background-color: #736299;
    box-shadow: 0 2px 2px #888888;
    color: #fff;
    border: 1px solid #585252;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-field button:hover,
.form-field button:active {
    background-color: #53486d;
}

.video-call {
    appearance: button;
    text-decoration: none;
    color: #fff;
    position: fixed;
    top: 20px;
    right: 40px;
    padding: 5px 10px;
    margin: 10px;
    width: 150px;
    text-align: center;
}
/************** CONTAINER **************/
/***************************************/
.container {
    display: flex;
}

.left-panel {
    width: 17%;
    height: 100vh;
    background-color: #53486d;
    padding: 20px;
    overflow-y: scroll;
}

.right-panel {
    height: 100vh;
    width: 83%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 15px;
}

#users li {
    font-size: 110%;
    font-weight: 400;
    color: #e7e7e7;
    padding: 10px 3px 0 3px;
    margin-left: 20px;
}

.chat-messages { 
    flex-grow: 1;
    overflow-y: scroll; 
}

.message-panel {
    margin-left: -10px;
    margin-bottom: -7px;
    width: 100%;
    padding: 8px;
    display: flex;
    flex-shrink: 0;
}

.message-panel form {
    flex-grow: 1;
    display: flex;
}

.message { 
    list-style-type: none;
    padding: 8px;
}

.message__title { 
    display: flex;
    padding-bottom: 3px; 
}

.message__title h4 {
    margin-right: 10px;
    font-weight: 500;
}

.message__title span {
    opacity: 0.6;
    font-size: 90%;
}

.message__body p {
    font-weight: 300;
}

#message-form button,
#message-form input,
#send-location
{
    border: 1px solid #585252;
    border-radius: 5px; 
    font-size: 90%;
}

#message-form button,
#send-location
{ transition: background-color 0.3s, color 0.3s; }


#message-form input { 
    width: 800px;
    padding: 10px; 
}

#message-form button {
    width: 100px;
    margin-left: 3px;
    background-color: #e7e7e7;
}

#send-location {
    width: 120px;
    margin-left: 6px;
    background-color: #e7e7e7;
}

#message-form button:hover,
#send-location:hover {
    cursor: pointer;
    background-color: #53486d;
    color: #fff;
}

/************** VIDEO CHAT **************/
/***************************************/

.buttons {
    text-align: center;
    margin: 20px;
}

.btn {
    display: inline-block;
    padding: 8px 25px;
    border: 0;
    border-radius: 10px;
    font-size: 120%;
    color: #fff;
}

#call {
    background-color: rgb(84, 84, 250);
}

#hangup {
    background-color: rgb(226, 69, 69);
}

#remote-video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    height: 500px;
    border-radius: 5px;
}

#local-video {
    position: fixed;
    width: 200px;
    height: 150px;
    right: 20px;
    bottom: 20px;
    border-radius: 5px;
}
